nav {
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  align-items: center;
}

#logo {
  margin-left: 30px;
}

#nav {
  display: flex;
  gap: 30px;
  margin-right: 30px;
}

#nav a {
  display: block;
  text-decoration: none;
  color: black;
}
